* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.logo {
    height: 17px;
    width: 129px;
    background-image: url("images/logo.svg");
    background-size: cover;
    cursor: pointer;
}

#signup-page {
    text-decoration: none;
}

#about {
    text-decoration: none;
}

#product {
    text-decoration: none;
}

#pricing {
    text-decoration: none;
}

#Support {
    text-decoration: none;
}

#menu-icon {
    user-select: none; 
}

/************************************************* Menu icon *************************************************/

.about-menu {
    height: auto;
    width: 100%;
    background-color: transparent;
    display: none;
    align-items: center;
    justify-content: center;
    margin-top: 4.23rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

#menu-icon {
    user-select: none;
}

#home {
    text-decoration: none;
}

#signup-page {
    text-decoration: none;
}

#about {
    text-decoration: none;
    
}

#product {
    text-decoration: none;
    color: #387ED1;
}

#pricing {
    text-decoration: none;
}

#Support {
    text-decoration: none;
}

.show {
    display: block;
}

.menu-container {
    height: auto;
    width: 100%;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

/*menu-icon-container1  */

.menu-icon-container1 {
    height: 146px;
    width: 700px;
    background-color: white;
    padding: 20px 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 10rem;
    box-shadow:
        5px 5px 10px rgba(0, 0, 0, 0.3),
        -5px 5px 10px rgba(0, 0, 0, 0.3);
}

.menu-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.menu-text h4 {
    padding-top: 10px;
    font-size: 14.4px;
    color: #666666;
}

.menu-text h4:hover {
    color: #387ED1;
}

.menu-text a {
    padding-top: 10px;
    font-size: 12px;
    color: #9B9B9B;
}

.kite-img {
    height: 50px;
    width: 50px;
    background-image: url("Signup-images/kite-logo.svg");
    background-size: cover;
    cursor: pointer;

}

.console-img {
    height: 50px;
    width: 50.83px;
    background-image: url("Signup-images/console.svg");
    background-size: cover;
    cursor: pointer;
}


.kite-connect-img {
    height: 50px;
    width: 50px;
    background-image: url("Signup-images/kite-connect.svg");
    background-size: cover;
    cursor: pointer;
}


.coin-img {
    height: 50px;
    width: 50.83px;
    background-image: url("Signup-images/coin.svg");
    background-size: cover;
    cursor: pointer;
}

/*menu-icon-container2  */

.menu-icon-container2 {
    height: 212px;
    width: 700px;
    background-color: #FAFAFB;
    padding: 20px 30px;
    display: flex;
    margin-right: 10rem;
    box-shadow:
        5px 5px 10px rgba(0, 0, 0, 0.3),
        -5px 5px 10px rgba(0, 0, 0, 0.3);
}

.menu-footer {
    height: 212px;
    width: 700px;
    display: flex;
    justify-content: space-around;
}

.menu-footer h2 {
    color: #424242;
    font-size: 16px;
    margin: 0px;
}

.menu-footer a {
    color: #666666;
    font-size: 14.4px;
}

.edution {
    display: flex;
    gap: 60%;
}

.versity:hover {
    color: #387ED1;
}

.tqna:hover {
    color: #387ED1;
}

ul a {
    display: block;
    font-size: 16px;
    margin-top: 10px;
    color: #666666;
    cursor: pointer;
}

ul a:hover {
    color: #387ED1;
}

/************************************************* header*************************************************/

.header {
    background-color: rgb(255, 255, 255);
    height: 4.23rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0rem 10rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    overflow: hidden;

}


.left-content a {
    padding-left: 40px;
    cursor: pointer;
    font-size: 14.4px;
    color: #666666;
}

.left-content a:hover {
    color: #387ED1;
    ;
}

.left-content i {
    padding-left: 30px;
    font-size: 16px;
    cursor: pointer;
}

hr {
    height: 1px;
    border: none;
    background: rgba(0, 0, 0, 0.075);
}


/************************************************* header*************************************************/

.heading {
    height: 361px;
    background-color: #ffffff;
    margin: 0px 62px;
    padding: 100px 0px;
    margin-top: 4.23rem;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   overflow: hidden;
}

.heading h1 {
    font-size: 44px;
    color: #424242;
}

.heading-para1 {
    font-size: 20px;
    margin: 15px 0px 15px;
    color: #424242;
}

.heading-para2 {
    font-size: 16px;
    margin: 16px 0px 15px;
    color: #424242;
}


/*************************************************container1 *************************************************/

.container-1 {
    height: 509px;
    margin: 0px 62px;
    color: #424242;
    font-size: 16px;
    padding: 80px 0px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15%;
    overflow: hidden;
}

.container1-img {
    height: 421px;
    width: 558px;
    background-image: url("images/product-images/container-1.png");
    background-size: cover;
}

.kite-info h2 {
    font-size: 32px;
    margin: 0px 0px 20px;
    color: #424242;

}

.kite-info p {
    font-size: 16px;
    margin: 16px 0px 15px;
    color: #424242;
    line-height: 30px;
}

.demo {
    height: 27.2px;
    width: 162px;
}

.learn {
    height: 27.2px;
    width: 162px;
}

.link-container1 {
    display: flex;
    color: #387ED1;
    cursor: pointer;
}

.demo:hover {
    color: #424242;
}

.learn:hover {
    color: #424242;
}

.app-container1 {
    height: fit-content;
    width: auto;
    display: flex;
    gap: 6%;
    margin-top: 20px;
    cursor: pointer;
}

.android-img-cont1 {
    height: 45px;
    width: 151px;
    background-image: url("images/product-images/google-play-badge.svg");
    background-size: cover;

}

.ios-img-cont1 {
    height: 45px;
    width: 135px;
    background-image: url("images/product-images/appstore-badge.svg");
    background-size: cover;
}

/************************************************* container-2 *************************************************/

.container-2 {
    height: 620px;
    margin: 0px 62px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10%;
    overflow: hidden;
}

.container-2 h2 {
    font-size: 32px;
    color: #424242;
    margin: 0px 0px 20px;
}

.container-2 p {
    font-size: 16px;
    color: #424242;
    margin: 16px 0px 15px;
    line-height: 30px;
}

.container-2 a {
    font-size: 16px;
    color: #387ED1;
    cursor: pointer;
}

.container-2 a:hover {
    color: #424242;
}

.container2-img {
    height: 611px;
    width: 623px;
    background-image: url("images/product-images/container-2.png");
    background-size: cover;
}