* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.logo {
    height: 17px;
    width: 129px;
    background-image: url("images/logo.svg");
    background-size: cover;
    cursor: pointer;
}

/******************************** Menu icon ********************************/

.about-menu {
    height: auto;
    width: 100%;
    background-color: transparent;
    display: none;
    align-items: center;
    justify-content: center;
    position: absolute;
}

.show {
    display: block;
}

.menu-container {
    height: auto;
    width: 100%;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

/*menu-icon-container1  */

.menu-icon-container1 {
    height: 146px;
    width: 700px;
    background-color: white;
    padding: 20px 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 10rem;
    box-shadow:
    5px 5px 10px rgba(0, 0, 0, 0.3),     /* Right & Bottom */
    -5px 5px 10px rgba(0, 0, 0, 0.3);    /*Left & Bottom */
}

.menu-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.menu-text h4 {
    padding-top: 10px;
    font-size: 14.4px;
    color: #666666;
}

.menu-text h4:hover {
    color: #387ED1;
}

.menu-text a {
    padding-top: 10px;
    font-size: 12px;
    color: #9B9B9B;
}

.kite-img {
    height: 50px;
    width: 50px;
    background-image: url("images/kite.svg");
    background-size: cover;

}

.console-img {
    height: 50px;
    width: 50.83px;
    background-image: url("images/console.svg");
    background-size: cover;
}


.kite-connect-img {
    height: 50px;
    width: 50px;
    background-image: url("images/kite-connect.svg");
    background-size: cover;
}


.coin-img {
    height: 50px;
    width: 50.83px;
    background-image: url("images/coin.svg");
    background-size: cover;
}

/*menu-icon-container2  */

.menu-icon-container2 {
    height: 212px;
    width: 700px;
    background-color: #FAFAFB;
    padding: 20px 30px;
    display: flex;
    margin-right: 10rem;
    box-shadow:
    5px 5px 10px rgba(0, 0, 0, 0.3),        /* Right & Bottom */
    -5px 5px 10px rgba(0, 0, 0, 0.3);       /*Left & Bottom */
}

.menu-footer {
    height: 212px;
    width: 700px;
    display: flex;
    justify-content: space-around;
}

.menu-footer h2 {
    color: #424242;
    font-size: 16px;
    margin: 0px;
}

.menu-footer a {
    color: #666666;
    font-size: 14.4px;
}

.edution {
    display: flex;
    gap: 60%;
}

.versity:hover {
    color: #387ED1;
}

.tqna:hover {
    color: #387ED1;
}

/*********************************************** header ***********************************************/

.header {
    background-color: rgb(255, 255, 255);
    height: 4.23rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0rem 10rem;
}

.left-content a {
    padding-left: 40px;
    cursor: pointer;
    font-size: 14.4px;
}

.left-content a:hover {
    color: #387ED1;
    ;
}

.left-content i {
    padding-left: 30px;
    font-size: 16px;
    cursor: pointer;
}

hr {
    height: 1px;
    border: none;
    background: rgba(0, 0, 0, 0.075);
}

/************************************************* container-1 ****************************************/

.container-1 {
    height: 36.3rem;
    background-color: rgb(255, 255, 255);
    display: grid;
    margin: 2rem 6rem;
    padding: 0px 20px 120px;

}


.hero-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    place-items: center;
}


.img {
    height: 20.5rem;
    width: 48.7rem;
    background-image: url("images/hero-img.png");
    background-size: cover;
    margin-bottom: 3.75rem;
}

.hero-img h1 {
    font-size: 2.75rem;
    color: #424242;
}

.hero-img p {
    font-size: 1.25rem;
    color: #666666;
    margin: 10px 0px 15px;
}

.hero-img button {
    height: 2.79rem;
    width: 12.735rem;
    background-color: #387ED1;
    color: white;
    font-size: 1.2rem;
    margin-top: 25px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.hero-img button:hover {
    background-color: black;
}


/****************************** container-2 ******************************/


.container-2 {
    height: 50rem;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    margin: 2rem 6rem 0rem 6rem;
    padding: 0px 30px;
    gap: 10%;
}

.img-container-2 {
    height: 38.2rem;
    width: 39rem;
    background-image: url("images/containe-2-img.png");
    background-size: cover;
    cursor: pointer;
}

.content h1 {
    font-size: 32px;
    margin-bottom: 40px;
    color: #424242;
}

.content h2 {
    font-size: 20px;
    color: #424242;
}

.content p {
    font-size: 16px;
    margin: 5px 0px 32px;
    line-height: 30px;
    font-weight: 200;
    color: #666666;
}

.content-right {
    justify-content: center;
}

.product {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    color: #387ED1;
    cursor: pointer;
}

.product a:hover {
    color: black;
}

.contant-left {
    height: 677px;
    width: 432px;
}

span {
    color: #387ED1;
    cursor: pointer;
}

span:hover {
    color: black;
}

/****************************** press-logo ******************************/

.press-logo {
    height: 60px;
    background-color: rgb(255, 255, 255);
    margin: 0rem 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
}

.press-img {
    height: 40px;
    width: 710px;
    background-image: url("images/press-logos.png");
    background-size: cover;
    cursor: pointer;
}

/****************************** container-3 ******************************/

.container-3 {
    height: 300px;
    background-color: rgb(255, 255, 255);
    margin: 0rem 6rem;
    padding: 0px 30px;
    margin-top: 6rem;
    display: flex;
    align-items: center;
}

.right-container3 {
    width: 65rem;
    height: 12rem;
    background-image: url("images/container3.png");
    background-size: cover;
    cursor: pointer;
}


.left-container3 h3 {
    font-size: 32px;
    margin: 0px 0px 20px;
    color: #424242;
}

.left-container3 p {
    font-size: 16px;
    margin: 16px 0px 15px;
    color: #424242;
    line-height: 30px;
}

.left-container3 a {
    font-size: 16px;
    margin: 0px 0px 15px;
    color: #387ED1;
    cursor: pointer;
}

.left-container3 a:hover {
    color: black;

}


/****************************** container- 4******************************/

.container-4 {
    height: 425px;
    background-color: rgb(255, 255, 255);
    margin: 0rem 6rem;
    display: flex;
    align-items: center;
    gap: 20%;
}

.img-container4 {
    height: 317px;
    width: 432px;
    background-image: url("images/container4.svg");
    background-size: cover;
    cursor: pointer;
}

.right-container4 h3 {
    color: #424242;
    font-size: 32px;
    margin: 0px 0px 20px;
}

.right-container4 a {
    color: #387ED1;
    font-size: 16px;
    cursor: pointer;
}

.right-container4 a:hover {
    color: black;
}

.container4-para1 {
    color: #424242;
    font-size: 16px;
    margin: 16px 0px 15px;
    line-height: 30px;
}

.container4-para2 {
    color: #424242;
    font-size: 16px;
    margin: 30px 0px 15px;
    line-height: 30px;
}

/****************************** container-5 ******************************/

.container-5 {
    height: 296px;
    margin: 0rem 6rem;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
}

.container-5 h2 {
    font-size: 32px;
    color: #424242;
    margin: 0px 0px 20px;

}

.container-5 p {
    font-size: 16px;
    margin: 16px 0px 15px;
    color: #666666;
}

.container-5 button {
    height: 2.79rem;
    width: 12.735rem;
    background-color: #387ED1;
    color: white;
    font-size: 1.2rem;
    margin-top: 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.container-5 button:hover {
    background-color: black;
}


/****************************** container-5 ******************************/

.footer {
    height: 50.4rem;
    background-color: #FBFBFB;
}

.foot-panel {
    font-size: 10px;
}

.footer ul a {
    font-size: 13px;
    margin-left: 10px;
    margin-right: 10px;
}

.footer ul h2 {
    font-size: 18px;
    margin-left: 10px;
    margin-right: 10px;
}

.footer-icon i {
    font-size: 25px;
    margin-left: 10px;
    padding-left: 3px;
}


.foot-panel1 {
    padding-top: 80px;
    color: #666666;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
}

.footer-icon {
    margin-top: 30px;
    font-size: 25px;
    cursor: pointer;
    display: flex;
}


ul a {
    display: block;
    font-size: 16px;
    margin-top: 10px;
    color: #666666;
}

ul h2 {
    font-size: 18px;
    margin: 0px 0px 10px;
}

footer a {
    font-size: 15px;
    font-weight: 700;
}

.copyright {
    color: #666666;
    line-height: 25px;
}